*{
    box-sizing: border-box;
}
body{
    background-color:#8acef5 ;
    color: #0a0a0a;
    display: flex;
    flex-direction: column;
    margin:0;
    justify-content: center;
    align-items: center;   
}
h1{
    font-size: 8rem;
    color: rgb(8, 33, 102);
    font-family:Georgia, 'Times New Roman', Times, serif;
    opacity: 0.4;  
}
form{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 35em;
    
}
.input{
    border: none;
    color: #444;
    width: 100%;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
   
    display: block;
}

.input::placeholder{
    color: #d5d5d5;
}
.todos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
   
    
}
.todos li{
  border-top: 1px solid #e5e5e5;
  cursor:pointer;
  font-size: 1.5rem;
  font-family: cursive;
  padding: 1rem 2rem;
}
.todos li .completed{
    color: #131212;
    text-decoration: line-through;
}
small{
    color:#110e0e;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
}
.text:hover{
    font-size: 2rem;
    transition: all 2s;
    color:rgb(243, 243, 242) ;
}
.text{
    font-family: cursive;
}